<h2>Create {{ hunterInfo?.name }}</h2>
<p class="characterization">{{ hunterInfo?.characterization }}</p>
<p class="instructions">{{ hunterInfo?.instructions }}</p>

<form [formGroup]="createCharacterForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-group-name">
        <mat-form-field>
            <mat-label>Character Name</mat-label>
            <input matInput formControlName="characterName" />
        </mat-form-field>
    </div>

    <div class="form-group form-group-look" formGroupName="look">
        <h3>Look, pick one from each list:</h3>
        <mat-radio-group name="look1" formControlName="look1">
            <mat-radio-button 
                *ngFor="let item of hunterInfo?.look_group1; let i = index;" 
                [value]="i">
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group name="look2" formControlName="look2">
            <mat-radio-button 
                *ngFor="let item of hunterInfo?.look_group2; let i = index;" 
                [value]="i">
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group name="look3" formControlName="look3">
            <mat-radio-button 
                *ngFor="let item of hunterInfo?.look_group3; let i = index;" 
                [value]="i">
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="form-group form-group-ratings">
        <h3>Ratings, pick one line:</h3>
        <mat-radio-group name="ratingsOption" formControlName="ratingsOption">
            <mat-radio-button
                *ngFor="let rating of hunterInfo?.rating_options"
                [value]="rating">
                {{ rating | ratingsOption }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="form-group form-group-fate" formGroupName="fate">
        <h3>Fate</h3>
        <p>You get to decide what sort of fate is in store for you. Pick how you found out about your fate, from the list below.</p>
        <mat-radio-group name="howYouFoundOut" formControlName="howYouFoundOut">
            <mat-radio-button
                *ngFor="let option of hunterInfo?.fate?.how_you_found_out"
                [value]="option">
                {{ option }}
            </mat-radio-button>
        </mat-radio-group>

        <p>Then pick two heroic and two doom tags for your fate from the lists below. This is how your fate will unfold. It's okay to pick contradictory tags: that means your fate is pulling you both ways.</p>
        <p>Whenever you mark off a point of Luck, the Keeper will throw something from your fate at you.</p>
        <div class="checkbox-group">
            <h4><strong>Heroic</strong> (pick two):</h4>
            <mat-checkbox
                *ngFor="let option of hunterInfo?.fate?.heroic"
                formControlName="heroic">
                {{ option }}
            </mat-checkbox>
        </div>
        <div class="checkbox-group">
            <h4><strong>Doom</strong> (pick two):</h4>
            <mat-checkbox
                *ngFor="let option of hunterInfo?.fate?.doom"
                formControlName="doom">
                {{ option }}
            </mat-checkbox>
        </div>
    </div>

    <button 
        mat-raised-button
        color="primary" 
        type="submit">
        Submit
    </button>
</form>