<h2>Create {{ hunterInfo.name }}</h2>
<p class="characterization">{{ hunterInfo.characterization }}</p>
<p class="instructions">{{ hunterInfo.instructions }}</p>

<form [formGroup]="createCharacterForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-group-name">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput />
        </mat-form-field>
    </div>

    <div class="form-group form-group-look">
        <h3>Look, pick one from each list:</h3>
        <mat-radio-group name="look1">
            <mat-radio-button 
                *ngFor="let item of hunterInfo.look_group1; let i = index;" 
                [value]="i">
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group name="look2">
            <mat-radio-button 
                *ngFor="let item of hunterInfo.look_group2; let i = index;" 
                [value]="i">
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group name="look3">
            <mat-radio-button 
                *ngFor="let item of hunterInfo.look_group3; let i = index;" 
                [value]="i">
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="form-group form-group-ratings">
        <h3>Ratings, pick one line:</h3>
        <mat-radio-group name="ratings">
            <mat-radio-button
                *ngFor="let rating of hunterInfo.rating_options"
                [value]="rating">
                {{ rating | ratingsOption }}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</form>